[core]
	pager = delta
[rerere]
	enabled = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[merge]
	conflictStyle = zdiff3

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  features = line-numbers decorations
  syntax-theme = Monokai Extended Bright
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
